@font-face {
src: url("HoustonComicsPersonalUse-6Yea1.ttf");
}

.menuItem{
    -fx-font-family: 'Houston Comics Personal Use';
    -fx-font-size: 20px;
    -fx-background-color:#e5be01;
    -fx-background-radius:0;
    -fx-border-color: #5e2129;
    -fx-border-width: 2 2 2 2;
    -fx-background-insets: 0;
}

.menuItem:hover{
    -fx-font-family: 'Houston Comics Personal Use';
    -fx-font-size: 22px;
    -fx-background-color:#e5be01;
    -fx-background-radius:0;
    -fx-border-color: #5e2129;
    -fx-border-width: 2 2 2 2;
    -fx-background-insets: 0;
}

.menuItem:pressed{
         -fx-font-size: 24px;
}



.menuBackground{
    -fx-background-image: url("img/bgMenu.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center;
}
